

.getintouch {
    font-size: 23px;
    padding-bottom: 20px;
    letter-spacing: 2px;
    color: #EE4266;
    max-width: 100%;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.contact {
    margin: 100px 0px 0 0px;
    display: flex;
    align-self: center;
    justify-content: space-evenly;   
    background-color: #04211c;
    padding: 100px 0 100px 0;
}


form {
    margin: 50px auto;
    width: 100%;
}


.form-item {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    flex-direction: column;
    padding: 5px;
}

.form-item label {
    font-size: 20px;
    color: #FDE8E9;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

.form-item input,
.form-item textarea {
    flex-basis: 50%;
    background-color: #04211c;
}

.form-item input:hover,
.form-item textarea:hover {
    border: 2px solid #FDE8E9;
}

.form-item input,
.form-item textarea,
.form-item button {
    border: 2px solid #EE4266;
    padding: 5px;
    font-size: 18px;
    background-color: #04211c;
}

.form-item input,
.form-item textarea {
    color: #FDE8E9;
}

.form-item button {
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
}

.form-item button:hover {
    border: 2px solid #EE4266;
    background-color: #FDE8E9;
    color: #04211c;
}

.form-item button {
    width: 100px;
    color: #FDE8E9;
}