body{
    margin:0;
}

h1 {
    color: #EE4266;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
}

h2 {
    color: #EE4266;
    font-weight: bold;
    text-align: left;
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    line-height: 2em;
    max-width: 85%;
    color: #FDE8E9;
    font-size: 17px;
}